:root {
  --primaryColor: #00eaff;
  --secondaryColor: rgb(150, 162, 188);
  --projectCardColor: #072340;
  --textColor: #dae4fb;
}

.cards {
  .cardsContainer {
    margin-top: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    .singleCard {
      display: grid;
      gap: 0.5rem;
      padding: 1.5rem 1rem;
      border-radius: 10px;
      height: 100%;
      background: var(--projectCardColor);

      .externalLinks {
        width: 100%;
        justify-content: space-between;

        .youtubeIcon,
        .githubIcon {
          a {
            color: var(--primaryColor);
            &:hover {
              color: var(--primaryColor);
            }
          }
        }
      }

      &:hover {
        transform: translateY(-7px);
        border-bottom: 2px solid var(--primaryColor);
      }

      .imgDiv {
        height: 220px;
        width: auto;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
          border-radius: 5px;
        }
      }

      .cardTitle {
        display: flex;
        font-weight: 600;
        color: var(--textColor);
      }

      .desc {
        font-weight: 600;
        color: var(--secondaryColor);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .cards {
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 769px) {
  .cards {
    width: 70%;
    margin: auto;
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1150px) {
  .cards {
    .cardsContainer {
      grid-template-columns: repeat(3, 1fr);
      .singleCard {
        .desc {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .cards {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
